footer.footer
  .footer__col-1
    a(href="../main/index.html").logo__logo-link_big
    .logo-block
      span(title="Yem Digital").logo__yem-logo-link
      span.logo__divider x
      span(title="Rolling Scopes School").logo__rs-logo-link
  .footer__col-2
    nav
      h2.footer__heading Navigation
      ul.footer-nav
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#watch-online` : `../main/index.html#watch-online`}`).footer-nav__item-link Watch online
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#how-it-works` : `../main/index.html#how-it-works`}`).footer-nav__item-link How it works
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#famous-pets` : `../main/index.html#famous-pets`}`).footer-nav__item-link Famous pets
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#pay-and-feed` : `../main/index.html#pay-and-feed`}`).footer-nav__item-link Pay & feed
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#testimonials` : `../main/index.html#testimonials`}`).footer-nav__item-link Testimonials
        li.footer-nav__item
          a(href=`${currentPage === 'translation' ? `../../main/index.html#zoogeography` : `../main/index.html#zoogeography`}`).footer-nav__item-link Zoogeography
  .footer__col-3
    h2.footer__heading Support of volunteers
    p.footer__text You can thank the volunteers for their work. For example, caring for animals and sincere love for them.
    a(href="#").btn_footer Donate for volunteers
    .social-wrapper
      a(href="https://www.instagram.com/" target="_blank").social Instagram
      a(href="https://www.facebook.com/" target="_blank").social Facebook
      a(href="https://twitter.com/" target="_blank").social Twitter
  .footer__copyright
    p.copyright__text Copyright ©RSSchool and ©Yem Digital 2020 - 2021
    p.copyright__text Designed by Vladislav Chernov
